.env
.env.yaml

# System files
.DS_Store
.ipynb_checkpoints
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode

# Data files
*.csv
*.sqlite
*.zip
training_outputs/

# Notebook files

*.ipynb

*.sublime-project
*.sublime-workspace
**/*.code-workspace
